[submodule "recipies/cookbooks/php55"]
	path = recipies/cookbooks/php55
	url = https://github.com/aporat/php55-cookbook
[submodule "recipies/cookbooks/php"]
	path = recipies/cookbooks/php
	url = https://github.com/opscode-cookbooks/php
[submodule "recipies/cookbooks/mysql"]
	path = recipies/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "recipies/cookbooks/xml"]
	path = recipies/cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml
[submodule "recipies/cookbooks/build-essential"]
	path = recipies/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "recipies/cookbooks/httpd"]
	path = recipies/cookbooks/httpd
	url = https://github.com/chef-cookbooks/httpd
[submodule "recipes/cookbooks/blackfire"]
	path = recipes/cookbooks/blackfire
	url = https://github.com/blackfireio/blackfire-cookbook
